/* Profile.css */

/* Profile card container */
.profile-card {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin: 20px;
}

/* Profile card hover effect */
.profile-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Profile picture styles */
.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
  margin-top: 2rem; /* Center the profile picture and add margin */
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Profile details styles */
.profile-details {
  text-align: center;
}

/* Heading styles */
.profile-details h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

/* Paragraph styles */
.profile-details p {
  margin-bottom: 5px;
  font-size: 16px;
  color: #666;
}
/* Profile.css */

/* Style for the logout button */
.logout-button {
  position:   absolute;
  top: 20px; /* Adjust this value to change the vertical position */
  right: 20px; /* Adjust this value to change the horizontal position */
  background-color: #e34444; /* Background color of the button */
  color: #ffffff; /* Text color of the button */
  padding: 10px 20px; /* Padding around the button text */
  border:   none; /* Remove border */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 16px; /* Font size of the button text */
  width: 80px; /* Fixed width for the button */
}

.logout-button:hover {
  background-color: #cc0000; /* Change background color on hover */
}
.home-button {
  position:   absolute;
  top: 20px; /* Adjust this value to change the vertical position */
  left: 20px; /* Adjust this value to change the horizontal position */
  background-color: #e34444; /* Background color of the button */
  color: #ffffff; /* Text color of the button */
  padding: 10px 20px; /* Padding around the button text */
  border:   none; /* Remove border */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 16px; /* Font size of the button text */
  width: 80px; /* Fixed width for the button */
}

.home-button:hover {
  background-color: #cc0000; /* Change background color on hover */
}
